.leftside {
    height: 100vh;
    width: 100%;
    background-color: aqua;

}

.rightside {
    height: 100vh;
    width: 100%;
    /* background-color: bisque; */
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.img {
    max-width: 100vw;

}