/* .card{
    width: 20rem;
} */

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}

.card-img-top{
    transform: scale(1);
}

/* .card-img-top:hover{
    transform: scale(1.8);
} */